*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial;
}
#score{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}
h1{
    font-size: 2rem;
    background-color: #FFFF00;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
button{
    padding: 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#rock{
    font-size: 10rem;
    background-color: #FF00FF;
}
#paper{
    font-size: 10rem;
    background-color: aqua;
}
#scissor{
    font-size: 10rem;
    background-color: aquamarine;
}
#result{
background-color: #000000;
color: #ffffff;
font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1rem;
margin-top: 5rem;
}

